<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
    <logger name="io.ktor.server.routing" level="WARN"/>
    <logger name="io.ktor.server.auth" level="WARN"/>
    <logger name="io.ktor.server.plugins.cors" level="WARN"/>
    <logger name="io.ktor.server.plugins.statuspages" level="WARN"/>
    <logger name="org.sqlite" level="WARN"/>
    <logger name="org.eclipse.jetty" level="INFO"/>
    <logger name="io.netty" level="INFO"/>
</configuration>
